<div class="container" style="padding-top:80px;">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Multiplayer Game Room</h1>
        <span><q><i>Don't ever play yoself!</q></i></span><br><h4>-DJ Khaled</h4>
        <br>
        <p>Login or Register with: </p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
        <p> See Active Games: </p>

        <a href="/gameroom" class="btn btn-success col-md">See Active Games</a>

    </div>

</div>